DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=4z8.d4d.mytemp.website,132.148.219.49
DJANGO_SETTINGS_MODULE=config.settings_godaddy
DATABASE_URL=sqlite:////home/rsnwvvl103hc/a8_oa/db.sqlite3
